body {
  padding: 0;
  margin: 0;
}
span {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;

  background-color: #f2f2f2;
  position: relative;
  display: flex;
  box-sizing: border-box;
}

.logo {
  height: 32px;
  width: 228px;
}

.logo_place_header {

  position: absolute;
  left: 64px;
  top: 30px;

  z-index: 1;
}




.logo__text_place_header {
  margin: 0;
}

.header__title {
  display: flex;
  align-self: center;
  margin-left:  64px ;
  width: 730px;
  z-index: 1;
  padding: 0;
  font-size: 102px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;

}


.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  z-index: 1;
  min-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin:0;



}
.header__link {
  text-decoration: none;
}



.header__main-illustratione {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 765px;
  height: 608px;


}


.header__square-pic {
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
  width: 568px;
  height: 568px;
  z-index: 0;
}

.description {

  margin:  100px auto;

  display: flex;
  width: 80%;
  padding: 0;

}
.two-columns__brief {
  width: 175px;
  padding: 0;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;

  color: #2f80ed;

}
.two-columns {
  display: flex;
  justify-content: space-between;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  padding: 0;
  margin: 0;


}
.two-columns__paragraph {
  list-style-type: none;
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;

}
.two-columns__paragraph:last-child {
  margin-bottom: 0;
}



.digits {

}

.kaufman {

  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
}
.section-title {
  display: flex;
  justify-content: center;

  width: 60%;
  padding: 0;
  margin: 100px auto 20px;

}


.section-title_theme_dark {
  margin: 90px auto 20px;
}



.section-title__text {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;

  margin: 0;
}
.section-title__text_theme_dark {
  color: white;
}


.section-subtitle {
  display: flex;
  justify-content: center;

  width: 60%;
  margin-right: auto;
  margin-left: auto;
  padding: 0;

}

.section-subtitle__text {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;

  margin: 0;
}

.section-subtitle__text_theme_dark {
  color: white;
}

.table {
  width: 1100px;
  margin: 0 auto 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 1;
  margin: 0 auto 100px;

}



.table_theme_dark {
  margin: 0 auto 90px;
}

.table__cell {

  width: 250px;
  margin-top: 60px;
  z-index: 1;
}

.table__cell_theme_dark {

  width: 200px;
  margin-top: 80px;

}



.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;

  margin: 0
}

.table__heading_theme_dark {
  color: white;
}

.table__text {

  margin: 10px 0 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;

}

.table__text_theme_dark {
  color: white;
}

.kaufman__triangle {
  position: absolute;
  right: -210px;
  display: flex;
  width: 877px;
  height: 877px;
  z-index: 0;
}

.feynman {
  height: 890px;
  position: relative;

  background: url("../images/feynman.png") left bottom no-repeat;
  box-sizing: border-box;


}

.feynman__title {
  width: 648px;
  margin: 100px auto 70px;
  display: flex;
  justify-content: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
}

.feynman__subtitle {

  display: flex;
  justify-content: center;

  line-height: 51px;
  font-size: 36px;
  font-weight: normal;

}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;

  line-height: 51px;
  font-size: 36px;
  font-weight: normal;

  text-decoration: none;
  color: #2f80ed;

}

.footer {

  min-height: 350px;
  padding: 0;
  align-items: stretch;
  display: flex;
  background-color: #1f1f1f;
  box-sizing: border-box;
}

.footer__columns {

  margin: 60px auto 40px;
  width: 90%;
  display: flex;
  justify-content: space-between;



}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.footer__column_content_info {

}

.footer__column_content_social {

}
.footer__column-heading {
  margin:0;

  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  color: white;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin: 20px 0 16px;
  color: white;
}



.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;

}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
  box-sizing: border-box;
}






